.detail-container {
  border: 1px solid gray;
  border-radius: 5px;
  width: 400px;
  box-shadow: 5px 10px 10px gray;
  margin-top: 48px;
}

.img-detail {
  width: 400px;
  height: auto;
}

.details {
  padding: 15px;
}

.manage-list > li > a {
  color: gray;
}

.manage-list > li {
  list-style-type: none;
}

.product-details {
  margin-top: 20px;
}
