<div class="detail-container">
  <div class="row">
    <div class="col-xs-12">
      <img
        [src]="recipe.imagePath"
        alt="image product"
        class="img-responsive img-detail"
      />
    </div>
  </div>
  <div class="details">
    <div class="row">
      <div class="col-xs-12">
        <h2>{{ recipe.name }}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <button
          type="button"
          (click)="onSwitchMenu()"
          class="btn btn-primary dropdown-toggle"
        >
          Manage recipe <span class="caret"></span>
        </button>
        <div class="manage-list">
          <ul class="manage-list" *ngIf="isOpenMenu">
            <li>
              <a href="#" (click)="onAddIngredients(recipe.ingredients)">
                To shopping list
              </a>
            </li>
            <li><a href="#">Edit recipe</a></li>
            <li><a href="#">Delete recipe</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">{{ recipe.description }}</div>
    </div>
    <div class="product-details row">
      <h5>Ingredients:</h5>
      <div class="col-xs-12">
        <ul class="list-group">
          <li
            *ngFor="let ingredient of recipe.ingredients"
            class="list-group-item"
          >
            {{ ingredient.name }} - {{ ingredient.amount }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
