<div class="detail-container">
  <div class="row recipe-detail-picture">
    <button class="btn btn-danger close-recipe-details" (click)="onNavBack()">
      <i class="bi bi-x"></i>
    </button>
    <div class="col-xs-12">
      <img
        [src]="recipe.imagePath"
        alt="image product"
        class="img-responsive img-detail"
      />
    </div>
  </div>
  <div class="details">
    <div class="row">
      <div class="col-xs-12">
        <h2>{{ recipe.name }}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="dropdown">
          <button
            class="btn btn-secondary dropdown-toggle"
            type="button"
            id="dropdownMenuButton"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Options
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a
              class="dropdown-item"
              style="cursor: pointer"
              (click)="onAddToFavouriteList()"
              ><i class="bi bi-heart-fill" style="color: #dc3545"></i> Add as
              favourite</a
            >
            <a
              class="dropdown-item"
              style="cursor: pointer"
              (click)="onAddIngredients(recipe.ingredients, $event)"
              ><i class="bi bi-plus"></i> Add to shopping list</a
            >
            <a
              class="dropdown-item"
              style="cursor: pointer"
              (click)="onEditRecipe()"
              ><i class="bi bi-pencil"></i> Edit recipe</a
            >
            <a
              class="dropdown-item"
              style="cursor: pointer; color: #dc3545"
              (click)="onDeleteRecipeItem()"
              ><i class="bi bi-trash"></i> Delete</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">{{ recipe.description }}</div>
    </div>
    <div *ngIf="recipe.ingredients" class="product-details row">
      <app-ingredients-table [recipeIngredients]="recipe.ingredients">
      </app-ingredients-table>
    </div>
  </div>
</div>
