.detail-container {
  border: 1px solid gray;
  border-radius: 5px;
  width: 400px;
  box-shadow: 5px 10px 10px gray;
}

.img-detail {
  width: 400px;
  height: auto;
}

.details {
  padding: 15px;
}
