<div>
  <h3 class="ml-2">Recipes list</h3>
  <div class="row">
    <div class="add-recipe-btn col-xs-12">
      <button
        style="width: 150px"
        class="btn btn-success"
        (click)="toggleShopAddRecipe()"
      >
        {{ addRemoveRecipeText.NewRecipe }}
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="recipes-container" scrollBarStyle>
        <app-recipe-item
          *ngFor="let recipeElem of recipes; let i = index"
          [recipeInput]="recipeElem"
          [index]="i"
        ></app-recipe-item>
      </div>
    </div>
  </div>
</div>
