.item-style {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
  margin-left: 0;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 6px;
  background-color: whitesmoke;
}
