.scroll-bar::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Style the scrollbar track */
.scroll-bar::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

/* Style the scrollbar thumb */
.scroll-bar::-webkit-scrollbar-thumb {
  background-color: #acacac;
  border-radius: 10px;
  width: 10px;
}

/* Style the scrollbar corner */
.scroll-bar::-webkit-scrollbar-corner {
  background-color: #f5f5f5;
}
