<section class="auth-container">
  <div class="auth-header">
    <mat-icon class="login-person-icon">person</mat-icon>
    <h1>Login</h1>
  </div>
  <section class="auth-container">
    <h4>Login to your account</h4>
    <form
      (ngSubmit)="onUserLogin()"
      [formGroup]="loginForm"
      class="example-form"
    >
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email" />
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="password" />
      </mat-form-field>
      <span class="submit-btn-box">
        <button
          mat-raised-button
          color="accent"
          type="submit"
          class="submit-btn"
        >
          Login
        </button>
      </span>
    </form>
  </section>
</section>
