<nav class="navbar-container">
  <div class="logo-nav">
    <div class="navbar-header">
      <a href="#" style="cursor: pointer" class="navbar-brand">
        <h3><i class="bi bi-book mr-1"></i> Recipe book</h3>
      </a>
    </div>

    <div class="nav-links">
      <ul class="pages-links nav navbar-nav">
        <li *ngIf="isAuthenticated" routerLinkActive="active">
          <a style="cursor: pointer" (click)="navToRoute('/recipes', $event)">{{
            navigation.Recipes
          }}</a>
        </li>
        <li routerLinkActive="active">
          <a
            style="cursor: pointer"
            (click)="navToRoute('/shopping-list', $event)"
            >{{ navigation.ShoppingList }}</a
          >
        </li>
        <li *ngIf="!isAuthenticated" routerLinkActive="active">
          <a style="cursor: pointer" (click)="navToRoute('/auth', $event)">{{
            navigation.Authenticate
          }}</a>
        </li>
      </ul>
      <div *ngIf="isAuthenticated" class="dropdown">
        <a
          id="dropdownMenuButton"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          style="cursor: pointer"
        >
          {{ manage.Manage }}
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a
            style="cursor: pointer"
            class="dropdown-item"
            (click)="onSaveRecipes()"
            >{{ manage.SaveData }}</a
          >
          <a
            style="cursor: pointer"
            (click)="onFetchRecipes()"
            class="dropdown-item"
            >{{ manage.FetchData }}</a
          >
        </div>
      </div>
      <div class="ml-3" *ngIf="isAuthenticated">
        <a style="cursor: pointer" class="dropdown-item" (click)="onLogout()">
          <i class="bi bi-door-closed mr-1"></i>{{ navigation.Logout }}</a
        >
      </div>
    </div>
  </div>
</nav>
