<nav class="navbar-container">
  <div class="logo-nav">
    <div class="navbar-header">
      <a href="#" style="cursor: pointer" class="navbar-brand">
        <h3>Recipe book</h3>
      </a>
    </div>

    <div class="nav-links">
      <ul class="pages-links nav navbar-nav">
        <li routerLinkActive="active">
          <a style="cursor: pointer" (click)="navToRoute('/recipes', $event)"
            >Recipes</a
          >
        </li>
        <li routerLinkActive="active">
          <a
            style="cursor: pointer"
            (click)="navToRoute('/shopping-list', $event)"
            >Shopping list</a
          >
        </li>
      </ul>
      <div class="dropdown">
        <a
          id="dropdownMenuButton"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          style="cursor: pointer"
        >
          Manage
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a
            style="cursor: pointer"
            class="dropdown-item"
            (click)="onSaveRecipes()"
            >Save data</a
          >
          <a
            style="cursor: pointer"
            (click)="onFetchRecipes()"
            class="dropdown-item"
            >Fetch data</a
          >
        </div>
      </div>
    </div>
  </div>
</nav>
