<div class="row">
  <div class="col-xs-12">
    <form>
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="nameInput">Input</label>
          <input type="text" #nameInput id="name" class="form-control" />
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">amount</label>
          <input
            type="number"
            #amountInput
            class="form-control"
            id="amountInput"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button
            class="form-btn btn btn-success"
            (click)="onIngredientAdd($event)"
          >
            Add
          </button>
          <button class="form-btn btn btn-danger" type="button">Delete</button>
          <button class="form-btn btn btn-primary" type="button">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
