<div class="row">
  <div class="col-xs-12">
    <!-- f is a local reference to the form: TEMPLATE DRIVEN FORM:-->
    <form (ngSubmit)="onIngredientSubmit(f)" #f="ngForm">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="nameInput">Name</label>
          <input
            type="text"
            id="name"
            class="form-control"
            name="name"
            ngModel
            required
          />
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">amount</label>
          <input
            type="number"
            class="form-control"
            id="amountInput"
            name="amount"
            ngModel
            required
            pattern="^[1-9]+[0-9]*$"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button class="form-btn btn btn-success" [disabled]="!f.valid">
            {{ editMode ? "Update" : "Add" }}
          </button>
          <button
            *ngIf="editMode"
            class="form-btn btn btn-danger"
            type="button"
            (click)="onDelete()"
          >
            Delete
          </button>
          <button
            class="form-btn btn btn-primary"
            type="button"
            (click)="onResetForm()"
          >
            Clear
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
