<div class="recipe-item-container">
  <!-- this will communicate with the child route to redirect to the elem -->
  <a
    [routerLink]="[index]"
    style="cursor: pointer"
    class="item-style list-group-item clearfix"
  >
    <div class="img-desc">
      <div class="pull-left">
        <h4 class="list-group-item-heading">{{ recipeInput.name }}</h4>
        <p class="list-group-item-text">{{ recipeInput.description }}</p>
      </div>
      <span class="pull-right">
        <img
          [src]="recipeInput.imagePath"
          alt="aaa"
          class="img-responsive img-style"
        />
      </span>
    </div>
  </a>
</div>
